events.out.tfevents.*
.ipynb_checkpoints
*.pyc
*.iml
tensorflow-rnn-tutorial/tutorial/outputdir
tensorflow-rnn-tutorial/tutorial/checkpoints
tensorflow-rnn-tutorial/tutorial/temperatures_all
tensorflow-rnn-tutorial/tutorial/task.py
tensorflow-mnist-tutorial/data
tensorflow-mnist-tutorial/mlengine/data
tensorflow-mnist-tutorial/mlengine/checkpoints
tensorflow-planespotting/checkpoints
tensorflow-planespotting/cloudrunN.txt
tensorflow-planespotting/USGS_public_domain_airports
tensorflow-planespotting/USGS_public_domain_airports_eval
tensorflow-planespotting/webui-mark/USGS_public_domain_airports
tensorflow-planespotting/sample_data